{% extends 'base.html.twig' %}

{% block title %}Order - Customer information{% endblock %}

{% block body %}
    <div class="container">
        <main>
            <div class="py-5 text-center">
                <h2>Thanks for placing an order. We'll ship it for you as soon as possible</h2>
            </div>
        </main>

    </div>

{% endblock %}
